<section id="footer">
  <img src="/images/logo.svg" alt="The Dragon's Table" />
  <p>
    Copyright &copy;2017 The Dragon's Table. All rights reserved.
  </p>
  <div>
    <a href="#" class="link">Terms &amp; Conditions</a>
    <a href="#" class="link">Privacy Policy</a>
    <a href="#" class="link">Shipping Policy</a>
    <a href="#" class="link">Careers</a>
    <a href="#" class="link">Contact Us</a>
  </div>
</section>
