<section id="mailing_list">
  <img class="dragon" src="/images/mailing_dragon.png" />

  <div class="mailing_list">
    <h1><b>Unbeatable</b> Deals</h1>
    <p>Signing up for our rewards program = profit.</p>

    <form>
      <input type="text" placeholder="Your favorite email" />
      <button type="submit">Sign Up</button>
    </form>
  </div>
</section>
