      <section class="navigation" ng-controller="HeaderCtrl as header">
        <div class="column">
          <a href="/" target="_self" id="logo"><img src="/images/logo.svg" alt="The Dragon's Table" /></a>
          <nav>
            <a id="about" href="#">About</a>
            <a id="faq" href="#">FAQ</a>
            <a id="buylist" href="#">Buy List</a>
            <a id="shop" href="#">Shop</a>
            <a id="cart" href="#">{{link}}</a>
          </nav>
        </div>

        <div class="column">
          <div class="cart">
            <p class="text">0 Items <span class="totalPrice">- $0.00</span></p>
            <img id="basketIcon" src="/images/icons/basket.svg" alt="Shopping Cart" />
          </div>

          <div class="login">
            <a href="/login" target="_self">Login</a> <span>or</span> <a href="#">Register</a>
          </div>
        </div>
      </section>
