<div ng-controller="CardCtrl as card">
  <p ng-model="data">
    {{data.name}}<br />
    {{data.id}}<br />
    {{data.set}}<br />
    {{data.text}}<br />
    {{data.rarity}}<br />
    {{data.multiverseid}}<br />
  </p>
</div>
