@import url('https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:400,400i,600');

@font: 'Open Sans';
@header-font: 'Lato';

// .headerType() {
//   font-family: @header-font;
//   font-weight: 900;
// }

h1 {
  font-family: @header-font;
  font-weight: 900;
}

h1.light {
  color: @white;
}
